@model FCBarcelonaApp.Models.Game.GameCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameCreateVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfGame" class="control-label"></label>
                <input asp-for="DateOfGame" class="form-control" />
                <span asp-validation-for="DateOfGame" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MyTeamId" class="control-label"></label>
                @*<input asp-for="BrandId" class="form-control" />*@
                <select asp-for="MyTeamId" class="form-control text-center">
                    @foreach (var myTeam in Model.MyTeams)
                    {
                        <option value="@myTeam.Id">@myTeam.Name</option>
                    }
                </select>
                <span asp-validation-for="MyTeamId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                @*<input asp-for="BrandId" class="form-control" />*@
                <select asp-for="TeamId" class="form-control text-center">
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                </select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="MyTeamId" class="control-label"></label>
                <input asp-for="MyTeamId" class="form-control" />
                <span asp-validation-for="MyTeamId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <input asp-for="TeamId" class="form-control" />
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
